# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment files & local data
.env
.env.*
pokemon.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.crash
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
